<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943663349968-2bu81reu83p32js4ndc8endqjr7l4gvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943663349968-2bu81reu83p32js4ndc8endqjr7l4gvq</string>
	<key>API_KEY</key>
	<string>AIzaSyB8eQp0kMj3I9vC58jcq5J7E_PRVkvjPlo</string>
	<key>GCM_SENDER_ID</key>
	<string>943663349968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.widgetshubs.todoAppNew</string>
	<key>PROJECT_ID</key>
	<string>todo-app-9a002</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-9a002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943663349968:ios:6a09a56c53fe3779d31ed5</string>
</dict>
</plist>